<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie reviews</title>
  </head>
  <body>
    <header>
      <nav></nav>
    </header>
    <section>
      <h1>Enter your movie review:</h1>
      <form action="{% url 'prediction' %}" method="post">
        {% csrf_token %}
        <div>
          <label>
			<textarea rows="10" cols="45" name="review"> </textarea>
	      </label>
        </div>
        <input type="submit" value="submit" />
      </form>
      <div class="output">
		<h2>Review:</h2>
		{{review_text}}
        <h2>Status: {{pos_neg}}</h2>
		<h2>Rating: {{rating}}</h2>
      </div>
    </section>
  </body>
</html>
